@import './variables.scss';

.tabs-list{
  .MuiTabs-flexContainer{
    background-color: var(--light-grey);
    border-radius: 0.5rem 0.5rem 0 0;
    .MuiTab-root{
      color: var(--black);
      text-transform: capitalize;  
      &.Mui-selected{
        background-color: var(--primary-color);
        color: var(--white);
        border-radius: 0.5rem 0.5rem 0 0;
      }
    }
  }
  .MuiTabs-indicator{
    background: var(--primary-color);
  }
}
.tabs-panel{
  background-color: var(--primary-color);
  border-radius: 0 0 0.5rem 0.5rem;
  padding-top: 0.5rem;
  .MuiBox-root{
    padding: 0.5rem;
  }
}

.tabs-card{
  border: none;
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  margin-top: -0.5rem;
  .tabs-card-contet{
    padding: 0 !important;
    .card-title{
      font-size: 1rem;
      font-weight: bold;
    }
    .card-sub-title{
      font-size: 0.875rem;
    }
    .card-sub-title2{
      font-size: 0.875rem;
      line-height: normal;
      color: var(--dark-grey);
    }
  }
}
.card-image{
  width: 4.688rem;
}

.time{
  min-width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.search-box{
  margin-bottom: 1rem;
  background: var(--light-grey) !important;
  border-radius: 1rem !important;
  border: none;
  box-shadow: none !important;
}
